.content-game{
    background-image: radial-gradient(circle, #d2ff07 0%, #3d7935 100%);
    width: min-content;
    margin: auto;

    h1{
        margin: 1em;
    }

    .info-players{
        display: flex;
        justify-content: space-around;

        .player{
            display: flex;
            flex-direction: column;

            div{
                @include displayFlexRow();
            }

            h3{
                margin-left: .3em;
            }

            button{
                font-weight: 700;
                margin: .5em 0 .5em 0;
                background-color: $primary-color;
                border: 3px solid $primary-color-dark;
                border-radius: .3em;
                padding: .5em;
                cursor: pointer;
            }
        }
    }
}